<div class="sub-navbar">
      <ul class="nav-links">
      <li class="nav-links-item active">
         <mat-icon aria-hidden="false" aria-label="Platform dropdown icon"
        fontIcon="menu_book"></mat-icon>
        <a href="#">Overview</a>
        
      </li>
      <li class="nav-links-item">
         <mat-icon aria-hidden="false" aria-label="Solutions dropdown icon"
          fontIcon="all_inbox"></mat-icon>
          <a href="#">Repositories</a>
          <div matBadge={{user.public_repos}} matBadgeOverlap="false" class="repo-badge"></div>

      </li>
      <li class="nav-links-item">
         <mat-icon aria-hidden="false" aria-label="Resources dropdown icon"
          fontIcon="inbox"></mat-icon>
          <a href="#">Projects</a>

      </li>
      <li class="nav-links-item">
         <mat-icon aria-hidden="false" aria-label="Open Source dropdown icon"
          fontIcon="inbox"></mat-icon>
          <a href="#">Packages</a>

      </li>
      <li class="nav-links-item">
         <mat-icon aria-hidden="false" aria-label="Enterprise dropdown icon"
          fontIcon="star"></mat-icon>
          <a href="#">Stars</a>
      </li>
    </ul>
   </div>